* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #fff;
}

ul,
li {
  list-style: none;
  display: flex;
  gap: 10px;
}

li {
  margin: 0 1rem;
}

.weather-app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.container {
  min-width: 20%;
  max-width: 60%;
  height: 900px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.location-input {
  width: 100%;
  border-radius: 20px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  justify-content: flex-end;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.fa-solid {
  font-size: 1.5rem;
  color: var(--clr-neutral-100);
}
.search {
  width: 40% !important;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #000;
  width: 10rem;
  font-size: 1.5rem;
  text-align: center;
  color: black;
  text-transform: capitalize;
}

.search::placeholder {
  color: black;
  text-transform: capitalize;
}

.submit {
  outline: none;
  border: none;
  background-color: orange;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  cursor: pointer;
}

.cities {
  width: 100%;
  margin-top: 2rem;
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3rem;
}

.location-info {
  display: flex;
  align-items: center;
}

.city-time,
.temp,
.weather-icon {
  margin: 0 2rem;
}

.city-time h1 {
  margin: 0;
  margin-bottom: 0.8rem;
  font-size: 2rem;
}

.city-time {
  display: flex;
  flex-direction: column;
}

.city-time small {
  margin-bottom: 0.2rem;
  font-size: 20px;
}

.temp {
  font-size: 4rem;
}

.weather-icon {
  display: block;
  width: 4rem;
}

.condition {
  font-weight: 700;
}

.condition-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecasts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.scroller {
  max-width: 80%;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

html {
  color-scheme: dark;
}

body {
  display: grid;
  min-block-size: 100vh;
  place-content: center;
  font-family: system-ui;
  font-size: 1.125rem;
  background-color: var(--clr-primary-800);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);

  color: #000;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

@media screen and (max-width: 800px) {
  body {
    font-size: 1.25rem;
  }

  .weather-app {
    width: 100%;
  }

  .container {
    height: 750px;
    min-width: 100%;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .form {
  }

  .cities {
    font-size: 12px;
  }

  .location-info {
    gap: 3rem;
    flex-direction: column;
  }

  .scroller {
    display: none;
  }

  h3,
  .forecasts {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .cities {
    display: none;
  }
}
